<%- include("partials/header") %>


<div class="container">
<header class="jumbotron">
<div class="container">
<h1> Welcome to BruteForce 1.0 <%= currentUser.username %> </h1>
</div>
</header>



<h1> Flag: "Dolphin_is_my_password" </h1>




</div>

<%- include("partials/footer") %>
